#app {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}

nav {
  padding: 20px 0 20px 0;
}

.alert-success {
  transition: visibility 0s, opacity 0.5s linear;
}

button.add-course {
  margin-bottom: 20px;
}
